.docs .container {
    font-family: Arial, sans-serif;
    background-color: #02071e;
    color: #ffffff;
    padding: 20px;
    text-align: left;
}
.docs .links a:link, .docs .links a:visited {
    color: #4DAF7C; 
}
.docs .links a:hover, .docs .links a:active {
    color: #D9853B;
}
.docs .api-function {
    border: 1px solid #444;
    background-color: #0a1f44;
    padding: 15px;
    margin-bottom: 20px;
}
.docs .function-title {
    font-size: 20px;
    color: #FFD700;
}
.docs .function-description, .docs .function-example {
    font-size: 16px;
    color: #B0C4DE;
}
.docs::-webkit-scrollbar {
    display: none;
}
.docs .desc {
    text-align: center;
}