.login .container {
    margin: 100px;
    background: #02071e;
    font: 400 18px/1.5 -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    overflow-y: auto;
}
.login .login-container, .login .register-container {
    max-width: 300px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.login .success-message {
    display: none;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    animation: fadeInOut 2s ease-in-out; /* Customize the animation duration */
}
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    20%, 80% {
        opacity: 1;
    }
}

.login .form-group {
    margin-bottom: 20px;
}

.login label {
    display: block;
    margin-bottom: 8px;
}

.login input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.login button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login button:hover {
    background-color: #2b632e; /* Darker shade for hover effect */
}
.login .home {
    padding: 2%;
}
.login .hidden {
    display: none;
}