.user-page .container {
    font-family: Arial, sans-serif;
    background-color: #02071e;
    color: white;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}
.user-page .home-btn{
    position: fixed;
    top: 15px;
    left: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.user-page .home-btn:hover{
    background-color: #0056b3;
}

.user-page .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.user-page .logo img {
    max-width: 15%;
    margin-top: 3%;

    height: auto;
}

.user-page .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.user-page .user-info-block {
    align-items: center; /* 수직 중앙 정렬 */
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: white;
}

.user-page .profile-icon {
    width: 100px;
    height: 100px;
    background-image: url("assets/dol.jpg"); /* 이 부분은 실제 프로필 이미지로 대체 가능 */
    border-radius: 50%;
    margin-right: 20px; /* 아이콘과 나머지 정보 사이의 간격 */
    background-size: cover; /* 이미지가 컨테이너를 완전히 덮도록 */
    background-position: center; /* 이미지를 중앙에 배치 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
}

.user-page .user-details {
    text-align: left;
    display: flex;
    flex-direction: column; /* 세로 방향 정렬 */
}

.user-page .user-details h2 {
    margin: 5px 0; /* 상하 여백 */
}

.user-page .user-details .nickname {
    font-size: 1.5em;
    font-weight: bold;
}

.user-page .user-info-block .small-text {
    font-size: 0.8em; /* 아이디와 역할의 글자 크기를 작게 */
}

.user-page .reg-btn{
    align-items: center;
    margin: 10px 0;
    justify-content: center;
    height: 40px;
    width: 50px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    border: none;                    
    border-radius: 2px;
    padding: 0 4px;
    background-color: #189f2a;
}
.user-page .reg-btn:hover{
    background-color: #0d5b17;
}

.user-page #deleteAccount{
    position: relative;
    background-color: #c31b22;
    color: #fff;
    padding: 10px 20px;
    font-size: 10px;
    border: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}
.user-page #deleteAccount:hover{
    background-color: #801519;
}

.user-page .code-entities {
    margin-top: 20px;
    /* 동적인 코드 엔티티 목록 스타일링 */
}
.user-page .code{
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    text-align: left;
}
.user-page .code:hover {
    background-color: #0a0f58;
}
.user-page code{
    max-width: 100%;
}